<h1>New link</h1>

<%= form_for @page do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :type %>
  
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <%= f.fields_for :hyperlink do |builder| %>
    <div class="field">
      <%= builder.label :url %><br />
      <%= builder.text_field :url %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>